<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit:ital,wght@0,400;1,300&family=Koulen&family=Lobster&family=Press+Start+2P&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1><%= Listtitle %>
        </h1>

    </div>
    <div class="box">
         <% for(let i=0;i<newItem.length;i++){ %>
                    <div class="item">
                        <form action="/delete" method="POST" class="item" >
                            <input type="checkbox" name="checkbox" value=<%=newItem[i].id %> onchange="this.form.submit()">
                            <p class="">
                                <%=newItem[i].name%>
                            </p>
                            </div>
                            <input type="hidden" name="hidden" value="<%= Listtitle %>"></input>

                        </form>
                        
                        <% } %>

        <% if (Listtitle===day){ %>
            <form class="item" action="/" method="POST">
            
                <input type="text" name="newact" placeholder="New Item">
                <button type="submit" name="list" value=<%= Listtitle %>>+</button>
            </form>

        <% }else{ %>
            <form class="item" action="/" method="POST">
            
                <input type="text" name="newact" placeholder="New Item">
                <button type="submit" name="list" value=<%= Listtitle %>>+</button>
            </form>

       <% }   %>  
        

           
        
        

    </div>
    <div class="randomplus">
        <form class="item" action="/wo" method="GET">
            <input type="text" name="newtitle" placeholder="Create new List!">
            <button type="submit" id="new">+</button>
            
                
           
        </form>
    </div>
    

    
   
</body>

</html>